
/*INTRO CONTAINER*/
.video-intro {
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: #e0f8b9;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(118, 134, 94);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.intro-left {
    width: 50%;
    text-align: center;
    padding-right: 10px;
}

.video-intro h1 {
    color: black;
    margin: 0;
    font-family: 'Merriweather', serif;
}

.video-intro h2 {
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
    font-size: 1em;
    font-family: 'Merriweather', serif;
}

.video-intro p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

#leaf-motif {
    margin: 0 auto;
    width: 300px;
}

.intro-right {
    width: 50%;
    text-align: center;
    padding-left: 10px;
}

.intro-right iframe {
    width: 100%;
    height: 315px; /* Ensure video height is appropriate */
    max-height: 315px;
}

.intro-right p {
    margin-top: 10px;
}

.transcript-link {
    text-decoration: none;
    font-style: italic;
    color: black;
    transition: color 0.3s ease;
}

.transcript-link:hover {
    color: white; /* Darker Cerulean for hover effect */
}

/*INFO*/
.info {
    background-color: #347283; /* Dark teal background */
    padding: 20px 10px; /* Reduced padding for a more compact look */
    
}

.info-container {
    max-width: 1000px; /* Adjusted max-width */
    margin: 0 auto;
    text-align: center;
    color: white; /* Light text color */
}

.info-container h2 {
    margin-bottom: 20px; /* Reduced margin */
    color: white; /* Light text color */
    font-family: 'Merriweather', serif;
}

.info-content {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Reduced gap for compactness */
}

.info-item {
    background-color: transparent;
    padding: 10px; /* Reduced padding */
    text-align: left;
}

.info-item h3 {
    margin-bottom: 5px; /* Reduced margin */
    font-family: 'Merriweather', serif;
}

.info-item p {
    margin: 0; /* Removed margins */
}

/*POPULAR SERVICES*/
.services-container {
    padding: 20px;
    background-color: white;
    width: 85%;
    margin: 0 auto 50px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(118, 134, 94);
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.service-box {
    flex: 1 1 calc(33.333% - 40px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden; /* Ensure the image stays within the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 500px;
}

.service-image {
    width: 100%;
    height: 50%; /* Ensures the image takes up the top half */
    overflow: hidden;
}

.service-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area */
}

.service-content {
    padding: 20px;
}

.service-content a {
    text-decoration: none;
    color: black;
}

.service-box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: black;
    font-family: 'Merriweather', serif;
}

.service-box p {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.service-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/*CREDENTIALS*/
.credentials {
    background-color: #274a5e; /* Dark teal background */
    padding: 10px; /* Reduced padding for a more compact look */
    padding-bottom:40px;
    color: white; /* Light text color */
}

.credentials-container {
    max-width: 1200px; /* Adjusted max-width */
    margin: 0 auto;
    text-align: center;
}

.credentials-container h2 {
    font-size: 1.8em; /* Slightly reduced font size */
    text-align: center;
    color: white; /* Light gold color for the heading */
    font-family: 'Merriweather', serif;
}

.credentials-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.credential-item {
    flex: 1 1 calc(33.333% - 40px); /* Three items per row */
    background-color: transparent;
    padding: 10px; /* Reduced padding */
    margin: 5px; /* Reduced margin */
    text-align: justify;
    color: white;
}

.credential-item h3 {
    color: white; /* Light gold color for the subheading */
    margin-bottom: 5px; /* Reduced margin */
    font-family: 'Merriweather', serif;
}

.credential-item p {
    color: white;
    margin: 0; /* Removed margins */
    font-family: 'Open Sans', sans-serif;
}



/*FAQ*/
.faqs {
    padding: 20px;
    background-color: #fff;
}

.faq-content {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

.faqs h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.faq-item {
    margin-bottom: 30px;
}

.faq-item .question {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.faq-item .answer {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6em;
}


/* TESTIMONIALS SECTION */
.testimonials {
    background-color: #f4f1ea;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.testimonials-container {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

.testimonials-container h2 {
    margin-bottom: 30px;
    font-family: 'Merriweather', serif;
}

.testimonial-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 100%; /* Updated to fit within the container */
}

.testimonial-box p {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.testimonial-box strong {
    font-weight: bold;
}

.testimonial-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.testimonial-author {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.testimonial-author img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.testimonial-author p {
    font-size: 0.9em;
    color: black;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.read-on-container {
    max-width: 30%;
    background-color: #347283; /* Light gold color for the background */
    padding: 20px;
    margin-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.read-on-container h2 {
    margin-bottom: 20px;
    color: white;
    font-family: 'Merriweather', serif;
}

.read-on-container a {
    text-decoration: none;
}

.read-on-container img {
    width: 100%;
    height: auto;
    max-width: 300px; /* Ensure image doesn't exceed container width */
}






/*ARCHIVE*/
.archive-container {
    text-align: center;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(118, 134, 94);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.archive-container h2 {
    margin: 5px;
    padding: 5px;
    font-family: 'Merriweather', serif;
}

.archive-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.archive-content h2 {
    text-align: center;
}

.archive {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.archive-box {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.archive-box h3 {
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
}

.archive-box:hover,
.archive-box:active {
    transform: scale(1.2);
}

.archive-icon {
    height: 200px;
    width: auto;
    margin: 10px 0;
}

/* Buttons */
button, .learn-more-button {
    background-color: #ff7f50; /* Coral button color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}