
/*INTRO CONTAINER*/
.video-intro {
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color:rgb(118, 134, 94);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin-bottom:50px;
}

.intro-left {
    width: 50%;
    text-align: center;
    padding-right: 10px;
}

.video-intro h1{
    color: black;
    margin: 0;
}

.video-intro h2{
    margin:0 auto;
    text-align: center;
    font-weight: 100;
    font-size: 1em;
}

.video-intro p{
    text-align: left;
}

#leaf-motif{
    margin: 0auto;
    width:300px;
}

.intro-right {
    width: 50%;
    text-align: center;
    padding-left: 10px;
}

.intro-right iframe {
    width: 100%;
    height: 315px; /* Ensure video height is appropriate */
    max-height: 315px;
}

.intro-right p {
    margin-top: 10px;
}

.transcript-link {
    text-decoration: none;
    font-style: italic;
    color: black;
    transition: color 0.3s ease;
}

.transcript-link:hover {
    color: #00b0ad; /* Darker Cerulean for hover effect */
}



/*POPULAR SERVICES*/
.services-container {
    padding: 20px;
    background-color: white;
    width: 85%;
    margin: 0 auto 50px;
    border-radius: 5px;
    border-style: solid;
    border-width:1px;
    border-color:rgb(118, 134, 94);
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.service-box {
    flex: 1 1 calc(33.333% - 40px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden; /* Ensure the image stays within the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height:500px;
}

.service-image {
    width: 100%;
    height: 50%; /* Ensures the image takes up the top half */
    overflow: hidden;
}

.service-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area */
}

.service-content {
    padding: 20px;
}

.service-content a{
    text-decoration: none;
    color: black;
}

.service-box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #347283; /* Cerulean */
}

.service-box p {
    color: #555;
}

.service-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/*archive*/
.archive-container{
    text-align:center;
    width:85%;
    margin:0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-bottom:50px;
}

.archive-container h2{
    margin: 5px;
    padding:5px;
}

.archive-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.archive-content h2 {
    text-align: center;
}

.archive {
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.archive-box {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.archive-box h3{
    font-size:1.5em;
}

.archive-box:hover,
.archive-box:active {
    transform: scale(1.2);
}

.archive-icon {
    height: 200px;
    width: auto;
    margin: 10px 0;
}