body {
    background-color: #ad3288;
    font-family: 'Lato', Arial, sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    text-align: center;
}

p,
ul,
li {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
}

.content {
    margin-left: 300px;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#content-section {
    background-color: rgba(255, 255, 255, 0.942);
    width: 80%;
    margin: 50px auto;
    border-radius: 5px;
}


/*HEADER*/
.retreat-header {
    margin-bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.retreat-box {
    text-align: left;
    margin: 0 auto;
}

.retreat-content h1 {
    background-color: rgb(255, 213, 59);
    width: fit-content;
    font-size: 2.5em;
    padding: 10px;
}

.retreat-content i {
    background-color: rgb(255, 213, 59);
    width: fit-content;
    padding: 10px;
}


/*RSVP BANNER*/
.cta-banner {
    margin-bottom: 0;
    width: 100%;
    background-color: #ad3288;
    color: white;
    text-align: center;
    padding: 30px 20px;
    box-sizing: border-box;
    border-top-style: solid;
    border-width: 15px;
    border-color: #FF7847;
}

.cta-banner p {
    font-size: 1.5em;
    margin: 0 0 20px 0;
}

.cta-button {
    background-color: #9bd5ff;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #66b6f1;
}


/*INTRO*/
.retreat-intro {
    text-align: center;
    color: rgb(0, 0, 0);
}

#lotus {
    margin: 0 auto;
    width: 200px;
}

.table {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.retreat-intro h1 {
    margin-bottom: 20px;
}

.retreat-intro .column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.retreat-intro .column p,
.retreat-intro .column ul {
    margin-bottom: 20px;
    text-align: left;
}

.retreat-intro .column ul {
    list-style-type: disc;
    padding-left: 20px;
}

.footnote {
    font-size: 0.9em;
    width: 100%;
    margin-top: 20px;
}



.retreat-intro .emphasized-quote,
.providers .emphasized-quote {
    font-style: italic; 
    font-size: 1.25em;
    color:white;
    background-color: rgb(255, 44, 132); /* Semi-transparent background for readability */
}


/* Retreat Details Section */
.details-container {
    margin: 0 auto;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.details-container .column {
    flex: 1;
    min-width: fit-content;
}

#right{
    padding-left: 40px;
    border-left: 2px dotted #c8c8c8; 
}

.details-container h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333; /* Darker text color for contrast */
    text-align: left; /* Align column titles to the left */
}

.details-container ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #333; /* Darker text color for contrast */
}

.details-container ul li {
    font-size: 1.1em;
    margin-bottom: 5px;
    text-align: left; /* Align list items to the left */
}

.add-ons-container {
    margin-top: 20px;
    text-align: center;
    padding:10px;
    background-color: #62ff0031;
    border-radius: 5px;
}

.add-ons-container h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333; /* Darker text color for contrast */
}

.add-ons-container ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0; /* Remove default padding */
    list-style-type: none; /* Remove default list style */
    gap: 20px; /* Space between items */
}

.add-ons-container ul li {
    font-size: 1.1em;
    margin-bottom: 5px;
    text-align: center; /* Center-align text */
    flex: 1 1 30%; /* Flex item basis for equal width */
}

.add-ons-container ul li img {
    display: block;
    margin: 0 auto 5px; /* Center-align image and add margin */
    width: 75px; /* Set icon size */
}













/*ITINERARY*/
.schedule {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.itinerary,
.dates {
    flex: 1;
    max-width: 50%;
}

.itinerary {
    padding-top: 40px;
}

.itinerary h1,
.dates h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.day {
    border-top: 1px solid #333;
    padding: 10px 0;
    cursor: pointer;
}

.day h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    margin: 0;
}

.day .activities {
    display: none;
    margin-top: 10px;
    padding-left: 20px;
    list-style-type: disc;
}

.day .toggle {
    font-size: 1.5em;
    color: #FF7847;
}

.dates h2{
    text-align: left;
}

.dates p,
.dates ul {
    margin-bottom: 20px;
}


.dates ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 1.25em;
}

.dates li {
    margin-bottom: 10px;
}

.extra{
    padding: 10px;
    border-radius: 5px;
    background-color: #62ff0031;
}

/*OPTIONAL ACTIVITIES SECTION*/
.optional-activities-section {
    background-color: #f4f4f9;
    text-align: left;
}

.optional-activities-container {
    width: 80%;
    margin: 0 auto;
}

.optional-activities-container h2 {
    margin-bottom: 20px;
}

.optional-activities-container ul {
    list-style-type: disc;
    font-size: 1.2em;
    color: #555;
    padding-left: 20px;
}

.optional-activities-container ul li {
    margin-bottom: 10px;
}


/*ADDITIONAL FEE SECTION*/
.additional-fee-section {
    background-color: #f4f4f9;
    text-align: left;
}

.additional-fee-container {
    width: 80%;
    margin: 0 auto;
}

.additional-fee-container h2 {
    margin-bottom: 20px;
}

.additional-fee-container p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
}

.additional-fee-container ul {
    list-style-type: disc;
    font-size: 1.2em;
    color: #555;
    padding-left: 20px;
}

.additional-fee-container ul li {
    margin-bottom: 10px;
}


/*BENEFIT SECTION*/
/* Base styles for larger screens */
.benefit-section {
    text-align: left;
}

.benefit-container {
    width: 80%;
    margin: 0 auto;
}

.benefit-container h2 {
    margin-bottom: 20px;
}

.benefit-container p {
    font-size: 1.2em;
}

.benefit-category {
    margin-top: 20px;
}

.benefit-category h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.benefit-category p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.column-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
}

.column-container ul {
    flex: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.column-container ul ul {
    list-style-type: disc;
    padding-left: 20px;
}



/* TESTIMONIALS */
.testimonials {
    text-align: center;
}

.testimonials h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.testimonial {
    background: rgba(255, 127, 80, 0.237);
    border-radius: 5px;
    padding: 20px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial blockquote {
    color: black;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: justify;
}

.testimonial blockquote::before {
    content: '“';
    font-size: 3em;
    color: #FF7847;
    position: absolute;
    left: -10px;
    top: -10px;
}

.testimonial blockquote::after {
    content: '”';
    font-size: 3em;
    color: #FF7847;
    position: absolute;
    right: -10px;
    bottom: 10px;
}

.testimonial footer {
    margin-top: 20px;
    font-weight: bold;
    color: black;
    text-align: right;
}

.testimonial img {
    width: 50px;
}

.testimonial p {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}

.testimonial footer {
    padding: 10px;
}

/*TRAVEL INFO*/
.travel-info {
    padding: 40px;
}

.travel-info h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.travel-content {
    display: flex;
    gap: 20px;
}

.travel-text,
.travel-image {
    flex: 1;
}

.travel-text p,
.travel-text ul {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

.travel-text ul {
    list-style-type: none;
    padding: 0;
}

.travel-text li {
    margin-bottom: 10px;
}

.travel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*REGISTRATION*/
.registration {
    background-color: coral;
    color: white;
}

.registration a,
.registration p {
    color: white;
}


/*FAQ*/
.faq-content p {
    font-size: 1.25em;
}

.question {
    font-weight: bold;
}



/*PROVIDERS*/
.providers section {
    margin: 0;
    padding: 0;
}

.providers {
    text-align: center;
}

.provider-banner {
    background-color: rgb(255, 213, 59);
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.provider-banner h1 {
    margin: 0;
    font-size: 1.5em;
}

.providers h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
}

.provider-content {
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

.provider-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

.provider-content ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

.provider-content li {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.emphasized-quote {
    font-size: 1.1em;
    font-style: italic;
    color: #333;
    margin-top: 30px;
    text-align: center;
    background-color: #EFE9DD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 30px auto 0;
    width: calc(100% - 40px);
}